{% extends "base.html" %}
{% block content %}



{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

 <h1>Upload File</h1>
 <form action="" method="post" name="validate">
    {{ form.hidden_tag() }}
    {{ render_field(form.file_name) }}
    <p><input type="submit" value="Upload"></p>
 </form>

 <h1>Trade Files</h1>

<table class="table table-striped" id="dataTable">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Size</th>
            <th>Uploaded On</th>
        </tr>
    </thead>
    <tbody>
    {%- for file in files %}
      <tr>
          <td>{{ file.name}} </td>
          <td>{{ file.size}} </td>
          <td>{{ file.formatted_upload_time}} </td>
      </tr>
    {%- endfor %}
    </tbody>
</table>

<script>
    $(function()	{
        $('#dataTable').dataTable();
    });
</script>

{% endblock %}



