{% extends "base.html" %}
{% block content %}

<form action="" method=post enctype=multipart/form-data>
      <p><input type=file name="trade_file">
         <input type=submit value=Upload>
</form>
{% with info = get_flashed_messages(category_filter=["info"]) %}
{% if info %}
    <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {%- for msg in info %}
        <i class="fa fa-check-circle m-right-xs"></i><strong>Success!</strong> {{msg}}
    {% endfor -%}
</div>
{% endif %}
{% endwith %}

{% with error = get_flashed_messages(category_filter=["error"]) %}
{% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {%- for msg in error %}
        <i class="fa fa-check-circle m-right-xs"></i><strong>Error</strong> {{msg}}<br>
    {% endfor -%}
</div>
{% endif %}
{% endwith %}

 <h1>Trade Files</h1>

<table class="table table-striped" id="dataTable">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Size</th>
            <th>Uploaded On</th>
        </tr>
    </thead>
    <tbody>
    {%- for file in files %}
      <tr>
          <td>{{ file.name}} </td>
          <td>{{ file.size}} </td>
          <td>{{ file.formatted_upload_time}} </td>
      </tr>
    {%- endfor %}
    </tbody>
</table>

<script>
    $(function()	{
        $('#dataTable').dataTable();
    });
</script>

{% endblock %}



